.form_order{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

/*PAYMENT*/

.payment_div{
  position: relative;
  max-width: 520px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #347928;
}

.payment_div header{
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid #347928;
  text-transform: uppercase;
  padding: 8px;
}

.payment_div .data{
  border-bottom: 1px solid #347928;
  padding: 25px;
}

.title_form{
  color: #333;
  text-transform: uppercase;
}

.data h5{
  color: #333;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.input-box {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.input-box label {
  color: #333;
}

.input-box label span {
  color: #dd1335;
}


.form_payment .data :where(.input-box input, .select-box, .input-box select) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus,
.input-box select:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.input-box textarea{
  position: relative;
  text-align: justify;
  resize: none;
  outline: none;
  transition: .2s ease;
  height: 100px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 8px;
  padding: 0 15px;
  font-size: 1rem;
  color: #707070;
}

.input-box textarea:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}


.div_envio{
  width: 100%;
  margin-top: 20px;
}

.box_submit{
  display: flex;
  align-items: center;
}

.input-box .submit{
  height: 55px;
  width: 80%;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #707070;
}

.input-box .submit:hover {
  background: #347928;
}

.img-area_2 {
  display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      position: relative;
      width: 100%;
      height: 50px;
      background: #242526;
      border-radius: 6px;
      overflow: hidden;
      transition: .2s ease;
}

.img-area_2 p{
  font-size: 15px;
font-weight: 600;
margin-bottom: 6px;
  color: #ffffff;
}

/*CART - ORDER*/

        .cart_div {
            position: relative;
            max-width: 400px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #347928;
        }

        .cart_div header{
          font-size: 1.5rem;
          color: #333;
          font-weight: 500;
          text-align: center;
          border-bottom: 1px solid #347928;
          text-transform: uppercase;
          padding: 8px;
        }

        .cart_items{
          list-style: none;
  padding: 0;
  width: 100%;
  overflow-y: auto; /* Permite el scroll si la lista es larga */
  flex: 1;
        }

        .cart_item {
          background: #ffffff;
          box-shadow: 0px 2px 5px #24252694;
          color: #242526;
          margin-bottom: 10px;
          padding: 10px;
          border-radius: 5px;
          display: flex;
          width: 100%;
          min-height: 60px; /* Reducido para hacer el contenedor más horizontal */
          position: relative;
          font-size: 15px;
          flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }




        .cart_div .item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        .cart_div .item-details {
            flex-grow: 1;
        }
        .cart_div .item-price {
            font-weight: bold;
        }
        .cart_div .quantity {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
        .cart_div .quantity button {
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            padding: 5px;
            cursor: pointer;
        }
        .cart_div .quantity input {
            width: 30px;
            text-align: center;
            border: 1px solid #ccc;
            margin: 0 5px;
        }
        .cart_div .totals {
            margin-top: 20px;
        }
        .cart_div .totals div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        }
