

.imagen_input[type="file"]{
    display: none;
}

.imagen_label{
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background: green;
    text-align: center;
    padding: 15px 40px;
    font-size: 18px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    border-radius: 7px;
}

.imagen_label i{
    font-size: 20px;
    margin-right: 10px;
}

label:active{
    transform: scale(0.9);
}






body{
    background-color: aqua;
}
/*
.imagen_input{
    display: none;
}

.imagen_label{
    display: inline-block;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.imagen_label:hover, .imagen_label:focus{
    background: rgba(255, 255, 255, 0.25);
}

.imagen_label i{
    font-size: 20px;
    margin-right: 10px;
}

*/



/*
.input-field{
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-field:hover, .input-field:focus{
    background: rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder{
    color: #fff;
}
.input-box .iconoOne{
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}

*/