section{
    padding: 70px 17%;
}



/*======================= NAV =======================*/

/*======================= NAV =======================*/

/*======================= NAV =======================*/

/*======================= NAV =======================*/

/*======================= MEDIA QUERY =======================*/

@media screen and (max-width: 970px){
    .content{
        flex: 1;
        padding: 100px 20px 50px;
    }
}