/* Estilo para el botón del dropdown */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Contenedor del dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Contenido del dropdown (oculto por defecto) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Estilo para los enlaces dentro del dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Cambiar color de los enlaces al pasar el mouse */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Mostrar el dropdown al pasar el mouse */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Cambiar el color del botón del dropdown cuando se muestra el contenido */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
