@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import "./header.css";

:root {
    --white: #ffffff;
    --black: #000000;
    --green: #CEDF9F;
    --beige: #E1D7C6;
    --red: #C96868;
    --grey: #B5C0D0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

html{
    scroll-behavior: smooth;
}


@media screen and (max-width: 800px){
    section{
        min-height: 0;
        height: 100%;
    }
}