.show_order {
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: fixed; /* Cambiado a fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    display: none; 
    overflow: auto; /* Habilitar desplazamiento */
    max-height: 90vh; 
}

.order_header {
    position: relative; /* Para que el botón de cerrar se posicione en relación al encabezado */
}

.order_header h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}

.close_show_order {
    position: absolute;
    top: 2px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.close_show_order i {
    color: #f44336;
}

.close_show_order:hover i {
    color: #d32f2f;
}

/* Fondo blur */
.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1000;
    display: none; /* Inicialmente oculto */
}

/* Resto del CSS sigue igual */
.user_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.user_info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_info label {
    font-weight: bold;
    margin-right: 10px;
}

.user_info input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
}

.table_details {
    width: 100%;
    border: 1px solid #347928;
}

.table_header_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #347928;
    flex-direction: row;
}

.table_header_list p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.table_section_list {
    height: 220px;
    overflow: auto;
}

.table_section_list table {
    width: 100%;
    table-layout: fixed;
    min-width: 900px;
    border-collapse: collapse;
}

.table_section_list thead th {
    position: sticky;
    top: 0;
    background-color: #C0EBA6;
    color: #242526;
    font-size: 14.5px;
}

.table_section_list th, td {
    border-bottom: 1px solid #347928;
    padding: 10px;
    word-break: break-all;
    text-align: center;
    word-break: keep-all;
}

.table_section_list tr:hover td {
    color: #C0EBA6;
    cursor: pointer;
    background-color: #242526;
}

.payment_method {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.payment_method label{
    font-weight: bold;
}

.total_amount{
    margin-bottom: 10px;
}

.total_amount label{
    font-weight: bold;
}

.order_time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.order_time label{
    font-weight: bold;
}

.status_list {
    display: flex;
    justify-content: space-between;
}

.status_list label {
    font-weight: bold;
}

.status_select {
    background-color: #185519;
    color: #ffffff;
    font-weight: 500;
    border-radius: 6px;
    padding: 3px;
    border: none;
    -webkit-appearance: none;  /* Para Safari */
    -moz-appearance: none;     /* Para Firefox */
    appearance: none;          /* Para otros navegadores */
    cursor: pointer;
}

.status_select option {
    background-color: #ffffff;
    color: #000000;
}


/* Media Queries for Responsive Design */
@media screen and (max-width: 970px) {
    .show_order {
        width: 90%;
        padding: 15px;
    }

    .order_header h2 {
        font-size: 1.2rem;
    }

    .payment_method, .total_amount, .order_time, .status_list {
        flex-direction: column;
        align-items: flex-start;
    }

    .user_info input, .payment_method span, .total_amount span, .order_time input, .status_list span {
        width: 100%;
        margin-top: 5px;
    }

    .table_section_list table {
        min-width: 100%;
    }
}