.content{
    flex: 1;
    padding: 100px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 970px){
    .content{
        flex: 1;
        padding: 100px 20px 50px;
    }
}